* {
    margin: 0;
    padding: 0;
}


.container {
    width: 500px;
    margin: auto;
    height: 50vh;
    display: flex;
    flex-direction: column;
    padding: 5em;
    align-items: center;
    border: 1px solid gray;
    background: antiquewhite;
    gap: 0.5em;
    border-radius: 2em;
}

.container button {
    padding: 8px 10px;
    background: white;
    border: none;
    border-radius: 2em;
}

.container button:hover {
    color: white;
    background-color: red;
    font-weight: 700;
}